/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #000010;
    color: #fff;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.nav-links a {
    color: #fff;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

ul.nav li.disabled {
    cursor: not-allowed;
  }
  ul.nav li.disabled a {
    pointer-events: none;
  }
  